{{ network_settings_yaml }}
"NTP1": "0.fuel.pool.ntp.org"
"NTP2": "1.fuel.pool.ntp.org"
"NTP3": "2.fuel.pool.ntp.org"
"FUEL_ACCESS":
  "user": "admin"
  "password": "admin"
"BOOTSTRAP":
  "flavor": "ubuntu"
  "http_proxy": ""
  "https_proxy": ""
  "repos":
    - name: "ubuntu"
      type: "deb"
      uri: "http://archive.ubuntu.com/ubuntu"
      suite: "xenial"
      section: "main universe multiverse"
      priority: null
    - name: "ubuntu-updates"
      type: "deb"
      uri: "http://archive.ubuntu.com/ubuntu"
      suite: "xenial-updates"
      section: "main universe multiverse"
      priority: null
    - name: "ubuntu-security"
      type: "deb"
      uri: "http://archive.ubuntu.com/ubuntu"
      suite: "xenial-security"
      section: "main universe multiverse"
      priority: null
    - name: "mos"
      type: "deb"
      uri: "http://mirror.seed-cz1.fuel-infra.org/mos-repos/xenial/master"
      suite: "mos-master"
      section: "main restricted"
      priority: 1100
    - name: "mos-proposed"
      type: "deb"
      uri: "http://mirror.seed-cz1.fuel-infra.org/mos-repos/xenial/master"
      suite: "mos-master-proposed"
      section: "main restricted"
      priority: 1150
    - name: "mos-updates"
      type: "deb"
      uri: "http://mirror.seed-cz1.fuel-infra.org/mos-repos/xenial/master"
      suite: "mos-master-updates"
      section: "main restricted"
      priority: 1110
    - name: "mos-holdback"
      type: "deb"
      uri: "http://mirror.seed-cz1.fuel-infra.org/mos-repos/xenial/master"
      suite: "mos-master-holdback"
      section: "main restricted"
      priority: 1130
    - name: "mos-hotfix"
      type: "deb"
      uri: "http://mirror.seed-cz1.fuel-infra.org/mos-repos/xenial/master"
      suite: "mos-master-hotfix"
      section: "main restricted"
      priority: 1140
    - name: "mos-security"
      type: "deb"
      uri: "http://mirror.seed-cz1.fuel-infra.org/mos-repos/xenial/master"
      suite: "mos-master-security"
      section: "main restricted"
      priority: 1120
    - name: "fuel"
      type: "deb"
      uri: "http://packages.fuel-infra.org/repositories/ubuntu/master-xenial"
      suite: "master-xenial"
      section: "main restricted"
      priority: 1200
    - name: "fuel-proposed"
      type: "deb"
      uri: "http://packages.fuel-infra.org/repositories/ubuntu/master-xenial"
      suite: "master-xenial-proposed"
      section: "main restricted"
      priority: 1250
    - name: "fuel-updates"
      type: "deb"
      uri: "http://packages.fuel-infra.org/repositories/ubuntu/master-xenial"
      suite: "master-xenial-updates"
      section: "main restricted"
      priority: 1210
    - name: "fuel-holdback"
      type: "deb"
      uri: "http://packages.fuel-infra.org/repositories/ubuntu/master-xenial"
      suite: "master-xenial-holdback"
      section: "main restricted"
      priority: 1230
    - name: "fuel-security"
      type: "deb"
      uri: "http://packages.fuel-infra.org/repositories/ubuntu/master-xenial"
      suite: "master-xenial-security"
      section: "main restricted"
      priority: 1220
  "skip_default_img_build": !!bool "true"
"PRODUCTION": "docker"
"FEATURE_GROUPS": []
"TEST_DNS": "www.google.com"
"postgres":
  "ostf_dbname": "ostf"
  "nailgun_dbname": "nailgun"
  "keystone_password": "@keystone_password"
  "ostf_password": "@ostf_password"
  "ostf_user": "ostf"
  "keystone_user": "keystone"
  "keystone_dbname": "keystone"
  "nailgun_password": "@nailgun_password"
  "nailgun_user": "nailgun"
"cobbler":
  "user": "cobbler"
  "password": "@password"
"astute":
  "user": "naily"
  "password": "@password"
"mcollective":
  "user": "mcollective"
  "password": "@password"
"keystone":
  "nailgun_password": "@nailgun_password"
  "nailgun_user": "nailgun"
  "ostf_password": "@ostf_password"
  "ostf_user": "ostf"
  "admin_token": "@admin_token"
  "monitord_password": "@monitord_password"
  "monitord_user": "monitord"
