{{ network_settings_yaml }}
"NTP1": "0.fuel.pool.ntp.org"
"NTP2": "1.fuel.pool.ntp.org"
"NTP3": "2.fuel.pool.ntp.org"
"FUEL_ACCESS":
  "user": "admin"
  "password": "admin"
"BOOTSTRAP":
  "flavor": "ubuntu"
  "http_proxy": ""
  "https_proxy": ""
  "repos":
  - "name": "ubuntu"
    "section": "main universe multiverse"
    "uri": "http://archive.ubuntu.com/ubuntu"
    "priority": !!null "null"
    "suite": "trusty"
    "type": "deb"
  - "name": "ubuntu-updates"
    "section": "main universe multiverse"
    "uri": "http://archive.ubuntu.com/ubuntu"
    "priority": !!null "null"
    "suite": "trusty-updates"
    "type": "deb"
  - "name": "ubuntu-security"
    "section": "main universe multiverse"
    "uri": "http://archive.ubuntu.com/ubuntu"
    "priority": !!null "null"
    "suite": "trusty-security"
    "type": "deb"
  - "name": "mos"
    "section": "main restricted"
    "uri": "http://mirror.fuel-infra.org/mos-repos/ubuntu/master"
    "priority": !!int "1050"
    "suite": "mos-master"
    "type": "deb"
  - "name": "fuel"
    "section": "main restricted"
    "uri": "http://packages.fuel-infra.org/repositories/ubuntu/master-trusty"
    "priority": !!int "1052"
    "suite": "master-trusty"
    "type": "deb"
  "skip_default_img_build": !!bool "true"
"PRODUCTION": "docker"
"FEATURE_GROUPS": []
"TEST_DNS": "www.google.com"
"postgres":
  "ostf_dbname": "ostf"
  "nailgun_dbname": "nailgun"
  "keystone_password": "@keystone_password"
  "ostf_password": "@ostf_password"
  "ostf_user": "ostf"
  "keystone_user": "keystone"
  "keystone_dbname": "keystone"
  "nailgun_password": "@nailgun_password"
  "nailgun_user": "nailgun"
"cobbler":
  "user": "cobbler"
  "password": "@password"
"astute":
  "user": "naily"
  "password": "@password"
"mcollective":
  "user": "mcollective"
  "password": "@password"
"keystone":
  "nailgun_password": "@nailgun_password"
  "nailgun_user": "nailgun"
  "ostf_password": "@ostf_password"
  "ostf_user": "ostf"
  "admin_token": "@admin_token"
  "monitord_password": "@monitord_password"
  "monitord_user": "monitord"
